*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.main{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    /* padding: 0rem 2rem; */
    /* position: relative; */
}
.bg-img{
    position: relative;
    background-image: url("netflixBanner.jpg");
    background-size: cover;
    filter: blur(50px);
    height: 120vh;
    /* z-index: -1; */

}
.bg-overlay{
    height: 100%;
    width: 100%;
    /* background-color: black; */
    background-color: rgba(104,3,20,0.65) ;
}
/* .bg-overlay2{
    height: 100%;
    width: 100%;
    background-color: rgba(7, 7, 10, 0.65) ;
} */
.content{
    /* border: 2px solid blue; */
    padding: 0rem 2rem;
    width: 100%;
    position: absolute;
    top: 0;

}

.navContainer{
    height: 20vh;
    /* border: 2px solid #000; */
}
.uppernav{
    /* border: 2px solid red; */
    display: flex;
    height: 50%;
}
.upperleft{
    width: 50%;
    /* border: 2px solid green; */
}
.netflix-logo{
    width: 200px;
}
.upperright{
    width: 50%;
    /* border: 2px solid blue; */
}
.buttons{
    display: flex;
    justify-content: right;
    height: 100%;
    align-items: center;
    gap: 20px;
}
.btn-lang{
    display: flex;
    padding: .3rem .8rem;
    border-radius: 50px;
    gap: 16px;
    background: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
}
.btn-signin{
    padding: .3rem .8rem;
    border-radius: 50px;
    gap: 16px;
    background-color: white;
    border: 1px solid white;
    outline: none;
    color: black;
}

.lowernav{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    height: 50%;
    color: white;
}

.menulist{
    /* border: 2px solid blue; */
    list-style: none;
    width: 40%;
    padding: 20px ;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 50px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.3);
    height: 5vh;
}
.menuitems{

    display: flex;
    align-items: center;

}
.banner{
    margin-top: 20px;
    /* border: 2px solid red; */
    border-radius: 30px;
    height: 80vh;
    background-image: url("netflixBanner.jpg") ;
    background-size: 200% 100% ;

    position: relative;
    animation: bannerScroll 60s infinite;
    animation-play-state: running;

}
@keyframes bannerScroll {
    0%{
        background-position: 0% 0%;
    }    
    100%{
        background-position: 100% 0%;
    }
}

.overlay{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    /* background-color: black; */
    background-image: linear-gradient(transparent,rgba(0, 0, 0,.6),black);
}
.bannercontainer{
    border: 2px solid rgb(98, 98, 98);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bannercontainer h2{
    text-align: center;
    font-size: 3rem;
    width: 50%;
    margin-bottom: 1rem;
}
.bannercontainer h4{
    font-size: 20px;
    margin-bottom: 1rem;
}
.mail{
    margin-top: 30px;
    width: 50%;
    display: flex;
    gap: 18px;
}
.input-email{
    padding: 1rem 2rem;
    border-radius: 40px;
    border: 0.5px solid lightgrey;
    outline: none;
    width: 60%;
    height: 60px;
    color: white;
    background-color: rgba(224, 213, 213, 0.5);
}
.input-email::placeholder{
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.inp{
    width: 30%;
    height: 60px;
    background-color: red;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    color : white;
    box-shadow: rgba(0,0,0,0.5);
}

.carousels{

    /* border: 2px solid red; */
    color: white;
    height: 100%;
    margin: .5rem 0rem;
}
.carousel{
    /* border: 2px solid blue; */
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;
}
.trend-movies{
    /* border: 2px solid green; */
    width: 12%;
    height: 35vh;
    position: relative;
}
.movie{
    width: 100%;
    height: 100%;
}

.movie img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.trend-movies span{
    color: rgba(0,0,0,1);
    -webkit-text-stroke: 0.1rem rgb(255,255,255);
    text-shadow: 0 0 1.5rem rgba(0,0,0,0.5);
    font-size: 4rem;
}
.movie-num{
    position: absolute;
    left: -24px;
}
 .trending{
    margin: 1rem 3rem;
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.plan{
    color: white;
    margin: 1rem 0.5rem;

}

.t{
    margin: 1rem 3rem;
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.plans{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.p-box{
    position: relative;
    border: 1px solid #ffff;
    width: 24%;
    height: 35vh;
    margin: 2rem;
    border-radius: 30px;
}
.p1{
    background: linear-gradient(149deg,#1C4072 6.96%,#172B47 40.2%,#120c1f 73.4%);
}
.p2{
    background: linear-gradient(149deg,#125ec7 6.96%,#172B47 40.2%,#120c1f 73.4%);
}
.p3{
    background: linear-gradient(149deg,#dc45c8 6.3%,#2166c7 40.2%,#1d0f3d 73.4%);
}
.p4{
    background: linear-gradient(149deg,#f14f4f 9.96%,#c350ed 36.2%,#0c0830 73.4%);
}
.p-upper h2{
    font-size: 30px;
    font-weight: 400 ;
    margin-left: 0;
    margin-bottom: 20px;
}
.p-upper{
    padding: 1rem 1rem;
}
.p-upper p{
    font-size: 16px;
    margin: 5px;
}
.p-lower h4{
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: .5rem;
}

.join{
    /* border: 1px solid #fff; */
    height: 45vh;
    color: white;
    padding: .5rem 2rem ;
    margin: 8px;
}
.join-r,
.faq-h{
 color: white;
 margin-bottom: 15px;
 font-size: 25px;
}
.j-boxes{
    padding: 1.4rem;
    display: flex;
    justify-content: space-between;
}
.j-box{
    border: 2px solid rgb(49, 48, 48);
    border-radius: 20px;
    /* border: none; */
    width: 300px;
    height: 30vh;
    padding: 20px 18px;
    position: relative;
    background-color: rgba(30,30,30, 0.5);
}
.j-box h4{
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
}
.j-box p{
    color: lightgrey;
    font-size: 14px;
    font-weight: 160;
}
.j-low{
    position: absolute;
    right: 8px;
    bottom: 5px;
}
.faq{
    /* border: 1px solid #fff; */
    height: fit-content;
    color: white;
    padding: .5rem 2rem ;
    margin: 8px;
}
.faq-boxes{
    padding: .2rem;
     display:flex;
     flex-direction: column; 
    gap: 20px;
}
.f-box{
    padding: 1.5rem;
    border: 2px solid #262323;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.f-box h3{
    font-size: 20px;

}
.faq-mail{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faq-mail p{
    font-size: 1.2rem;
}
footer{
    /* border: 1px solid #fff; */
    color: #8d8b8b;
    padding: 2rem 4rem;
}
footer p{
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.infos{
    /* border: 1px solid #8e8c8c; */
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.infos ul,
.infos li{
    list-style: none;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.end{
    padding: 4rem 1rem;
}